:root {
    --primary-color: darkblue;
    --border-color: #000;
    --light-text: white;
    --dark-text: #333;
    --aside-bg: #eee;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--light-text);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: var(--dark-text);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}